.movieContainer{
    width: 100%;
    width: 100%;
    height: 450px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.movieWraper {
    width: 80%;
}

.listMovies{
    width:100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
    padding: 10px 10px 10px 0;
    margin-right: 10px;
}



.movieContainer h3{
    margin: 10px 0 20px 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #3C3B3B;
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.arrowRight {
    color: rgba(25, 171, 226, 0.9);
    margin-left: 10px;
}

@media (max-width: 600px){
    .movieWraper {
        width: 100%;
    }

    .listMovies::-webkit-scrollbar {
        display: none;
    }
}