.banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height:  276px;
    background: #19ABE2 url('../../assets/banner.png') no-repeat ;
    opacity: 1;
}

.containerBanner{
    width: 60%;
    margin: 0 auto;
}

.banner h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #FFF;
    margin-bottom: 20px;
}


.searchContainer{
    color: #C0B5B5;
    height: 41px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.selectSearch{
    width: 18%;
    background-color: #FFF;
    height: 100%;
    border-right: 1px solid rgb(190, 190, 190);
    padding: 10px;
    color: #838383;
}


.searchInput{
    width: 74%;
    height: 100%;
    padding: 20px;
    color: #BEBABA;
    border-width: 0;
    margin: 0;
}

.searchIcon{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 5px;
    background-color: #FFF;
    height: 100%;
    width: 8%; 
    color: #C0B5B5;
    border-width: 0;
    margin: 0;

}

@media (max-width: 600px) 
{
    .containerBanner{
        width: 90%;
        margin: 0 auto;
    }

    .selectSearch{
        width: 25%;
    }

    .searchInput{
        width: 65%;
    }

    .searchIcon{
        width: 10%;
    }
}